/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

@font-face {
  font-family: 'SFMono Nerd Font';
  src: url('./SF-Mono-Nerd/SFMono-Regular-Nerd-Font-Complete.woff2') format('woff2'),
       url('./SF-Mono-Nerd/SFMono-Regular-Nerd-Font-Complete.woff') format('woff'),
       url('./SF-Mono-Nerd/SFMono Regular Nerd Font Complete.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

i {
  color: rgb(115 130 175 / 95%);
  margin-right: 7px;
}

* {
  font-family: 'SFMono Nerd Font', monospace;
}

body {
  color: #141b21;
  font-family: 'SFMono Nerd Font', monospace;
  font-size: 12px;
  overflow: hidden;
  
}

html,
body,
#root {
  height: 100%;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  /* height: 100%; */
  padding: 4px 1.5vw;
  background: #faf4ed;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
}



.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: rgb(255 255 255 / 5%);
  margin-right: 4px;
  padding: 4px 9px;
  color: #141b21;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  transition: all ease-in-out 0.2s;

  &.displayed {
    background: rgb(255 255 255 / 15%);
  }

  .workspaces button {
    transition: background-color 0.3s, transform 0.3s;
  }
  .workspaces button:hover {
    transform: scale(1.1);
  }
  

  &.focused,
  &:hover {
    color: rgb(255 255 255 / 90%);
    background: #141b21;
    transition: all ease-in-out 0.2s;
    
  }
}

.binding-mode,
.tiling-direction {
  background: rgb(255 255 255 / 15%);
  color: #141b21;
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: #900029;
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}
